PushButton, DropDownPushButton, ToolButton, TogglePushButton, ToggleToolButton {
    color: rgba(67, 67, 67, 1);
    background: white;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius:8px;
    font: 15px;
    padding: 7px 12px 7px 12px;
    outline: none;
}

ToolButton[hasMenu=true] {
    padding: 5px 20px 6px 8px;
}

PushButton:hover, DropDownPushButton:hover, ToolButton:hover, 
TogglePushButton:hover, _ToggleToolButton:hover {
    background: rgba(220, 220, 220, 0.8);
}

PushButton:pressed, ToolButton:pressed, TogglePushButton:pressed, ToggleToolButton:pressed {
    color: rgba(67, 67, 67, 0.6);
    background: rgba(220, 220, 220, 0.4);
    border: 1px solid rgba(200, 200, 200, 0.8);
}

PushButton:disabled, ToolButton:disabled, TogglePushButton:disabled, ToggleToolButton:disabled {
    color: rgba(0, 0, 0, 0.36);
    background: rgba(249, 249, 249, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

TransparentPushButton, DropDownTransparentPushButton, TransparentToolButton {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    margin: 0;
}

TransparentPushButton:hover, DropDownTransparentPushButton:hover, TransparentToolButton:hover {
    background: rgba(220, 220, 220, 0.8);
    border: none;
}

TransparentPushButton:pressed, TransparentToolButton:pressed {
    color: rgba(0, 0, 0, 0.63);
    background: rgba(220, 220, 220, 0.4);
    border: none;
}

TransparentPushButton:disabled, DropDownTransparentPushButton:disabled, 
TransparentToolButton:disabled, CheckBox:disabled {
    background: transparent;
    border: none;
}

PrimaryPushButton, DropDownPrimaryPushButton, PrimaryToolButton {
    color: white;
    background-color: --THEMECOLOR-1.0;
}

PrimaryPushButton:hover, DropDownPrimaryPushButton:hover, PrimaryToolButton:hover {
    background-color: --THEMECOLOR-0.9;
    border: 2px solid --THEMECOLOR-1.0;
}

PrimaryPushButton:pressed, PrimaryToolButton:pressed,
TogglePushButton:checked:pressed, ToggleToolButton:checked:pressed {
    color: rgba(255, 255, 255, 0.63);
}

PrimaryPushButton:disabled, DropDownPrimaryPushButton:disabled, PrimaryToolButton:disabled,
TogglePushButton:checked:disabled, ToggleToolButton:checked:pressed {
    color: rgba(255, 255, 255, 0.63);
    background-color: --THEMECOLOR-0.3;
}

TogglePushButton:checked, ToggleToolButton:checked {
    border: 2px solid --THEMECOLOR-1.0;
}

DropDownPushButton::menu-indicator,
DropDownTransparentPushButton::menu-indicator,
ToolButton::menu-indicator {
    image: url(ui:icons/black/ChevronDown_black.svg);
    width: 10px;
    height: 10px;
    subcontrol-origin: border;
    subcontrol-position: center right;
    margin: 0px;
    margin-right: 10px;
}

DropDownPrimaryPushButton::menu-indicator {
    image: url(ui:icons/white/ChevronDown_white.svg);
    width: 10px;
    height: 10px;
    subcontrol-origin: border;
    subcontrol-position: center right;
    margin: 0px;
    margin-right: 10px;
}

CheckBox {
    text-align: left;
    color: rgba(67, 67, 67, 1);
    font: 15px;
    spacing: 8px;
    margin-right: 8px;
    margin-left: 8px;
    min-width: 28px;
    min-height: 28px;
}

CheckBox::indicator {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1.5px solid rgb(135, 135, 135);
    background-color: rgb(241, 241, 241);
}

CheckBox::indicator:hover {
    border: 1.5px solid rgb(132, 132, 132);
    background-color: rgb(232, 232, 232);
}

CheckBox::indicator:pressed {
    border: 1.5px solid rgb(184, 184, 184);
    background-color: rgb(224, 224, 224);
}

CheckBox::indicator:checked,
CheckBox::indicator:indeterminate {
    border: 1.5px solid --THEMECOLOR-1.0;
    background-color: --THEMECOLOR-1.0;
}

CheckBox::indicator:checked {
    image: url(ui:icons/white/accept.svg);
}

CheckBox::indicator:indeterminate {
    image: url(ui:icons/white/partial_accept.svg);
}

CheckBox::indicator:checked:hover,
CheckBox::indicator:indeterminate:hover {
    border: 1.5px solid --THEMECOLOR-0.8;
    background-color: --THEMECOLOR-0.8;
}

CheckBox::indicator:checked:pressed,
CheckBox::indicator:indeterminate:pressed {
    border: 1.5px solid --THEMECOLOR-0.6;
    background-color: --THEMECOLOR-0.6;
}

CheckBox:disabled {
    color: rgba(0, 0, 0, 110);
}

CheckBox::indicator:disabled {
    border: 1.5px solid #bbbbbb;
    background-color: rgb(224, 224, 224);
}

CheckBox::indicator:checked:disabled,
CheckBox::indicator:indeterminate:disabled {
    border: 1.5px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
}

RadioButton {
    min-height: 24px;
    max-height: 24px;
    background-color: transparent;
    font: 15px;
    color: rgba(67, 67, 67, 1);
}

RadioButton::indicator {
    width: 18px;
    height: 18px;
    border-radius: 11px;
    border: 2px solid #999999;
    background-color: rgba(0, 0, 0, 5);
    margin-right: 4px;
}

RadioButton::indicator:hover {
    background-color: rgba(0, 0, 0, 0);
}

RadioButton::indicator:pressed {
    border: 2px solid #bbbbbb;
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.5 rgb(255, 255, 255),
            stop:0.6 rgb(225, 224, 223),
            stop:1 rgb(225, 224, 223));
}

RadioButton::indicator:checked {
    height: 22px;
    width: 22px;
    border: none;
    border-radius: 11px;
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.5 rgb(255, 255, 255),
            stop:0.6 --THEMECOLOR-1.0,
            stop:1 --THEMECOLOR-1.0);
}

RadioButton::indicator:checked:hover {
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.6 rgb(255, 255, 255),
            stop:0.7 --THEMECOLOR-1.0,
            stop:1 --THEMECOLOR-1.0);
}

RadioButton::indicator:checked:pressed {
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.5 rgb(255, 255, 255),
            stop:0.6 --THEMECOLOR-1.0,
            stop:1 --THEMECOLOR-1.0);
}

RadioButton:disabled {
    color: rgba(0, 0, 0, 110);
}

RadioButton::indicator:disabled {
    border: 2px solid #bbbbbb;
    background-color: rgba(0, 0, 0, 0);
}
