PushButton, ToolButton {
    color: rgba(67, 67, 67, 1);
    background: white;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 5px;
    font: 15px;
    padding: 10px 12px 10px 12px;
    outline: none;
}

ToolButton[hasMenu=true] {
    padding: 5px 20px 6px 8px;
}

PushButton:hover, ToolButton:hover {
    border: 1px solid --THEMECOLOR-1.0;
}

PushButton:pressed, ToolButton:pressed {
    border: 2px solid --THEMECOLOR-1.0;
}

PushButton:disabled, ToolButton:disabled {
    color: rgba(0, 0, 0, 0.36);
    background: rgba(220, 220, 220, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

TransparentPushButton, DropDownTransparentPushButton, TransparentToolButton {
    background-color: transparent;
    border: none;
}

PrimaryPushButton, DropDownPrimaryPushButton, PrimaryToolButton {
    color: white;
    background-color: --THEMECOLOR-1.0;
}

PrimaryPushButton:pressed, DropDownPrimaryPushButton:pressed, PrimaryToolButton:pressed {
    border: 2px solid white;
}

TogglePushButton:checked, ToggleToolButton:checked {
    color: black;
    border: 1px solid --THEMECOLOR-1.0;
    background-color: --THEMECOLOR-0.2;
}

DropDownPushButton::menu-indicator, ToolButton::menu-indicator {
    image: url(ui:icons/black/ChevronDown_black.svg);
    width: 10px;
    height: 10px;
    subcontrol-origin: border;
    subcontrol-position: center right;
    margin: 0px;
    margin-right: 10px;
}

DropDownPrimaryPushButton::menu-indicator {
    image: url(ui:icons/white/ChevronDown_white.svg);
    width: 10px;
    height: 10px;
    subcontrol-origin: border;
    subcontrol-position: center right;
    margin: 0px;
    margin-right: 10px;
}

CheckBox {
    text-align: left;
    color: rgba(67, 67, 67, 1);
    font: 15px;
    spacing: 8px;
    margin-right: 8px;
    margin-left: 8px;
    min-width: 28px;
    min-height: 28px;
    outline: none;
}

CheckBox::indicator {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    border: 1px solid rgb(135, 135, 135);
    background-color: white;
}

CheckBox::indicator:hover {
    border: 1px solid --THEMECOLOR-1.0;
    background-color: rgb(224, 224, 224);
}

CheckBox::indicator:pressed {
    border: 1px solid --THEMECOLOR-1.0;
    background-color: rgb(224, 224, 224);
}

CheckBox::indicator:checked,
CheckBox::indicator:indeterminate {
    border: 1px solid --THEMECOLOR-1.0;
    background-color: --THEMECOLOR-1.0;
}

CheckBox::indicator:checked {
    image: url(ui:icons/white/accept.png);
}

CheckBox::indicator:indeterminate {
    image: url(ui:icons/white/partial_accept.svg);
}

CheckBox::indicator:checked:hover,
CheckBox::indicator:indeterminate:hover {
    border: 1px solid --THEMECOLOR-0.8;
    background-color: --THEMECOLOR-0.8;
}

CheckBox::indicator:checked:pressed,
CheckBox::indicator:indeterminate:pressed {
    border: 1px solid --THEMECOLOR-1.0;
    background-color: --THEMECOLOR-1.0;
}

CheckBox:disabled {
    color: rgba(0, 0, 0, 110);
}

CheckBox::indicator:disabled {
    border: 1px solid rgb(135, 135, 135);
    background-color: rgb(224, 224, 224);
}

CheckBox::indicator:checked:disabled,
CheckBox::indicator:indeterminate:disabled {
    border: 1px solid rgb(199, 199, 199);
    background-color: rgb(199, 199, 199);
}

RadioButton {
    min-height: 24px;
    max-height: 24px;
    background-color: transparent;
    font: 15px;
    color: rgba(67, 67, 67, 1);
    outline: none;
}

RadioButton::indicator {
    width: 18px;
    height: 18px;
    border-radius: 9px;
    border: 1px solid #999999;
    background-color: rgba(0, 0, 0, 5);
    margin-right: 4px;
}

RadioButton::indicator:hover {
    background-color: rgba(0, 0, 0, 0);
}

RadioButton::indicator:pressed {
    border: 1px solid #bbbbbb;
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.5 rgb(255, 255, 255),
            stop:0.6 rgb(225, 224, 223),
            stop:1 rgb(225, 224, 223));
}

RadioButton::indicator:checked {
    height: 20px;
    width: 20px;
    border: none;
    border-radius: 9px;
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.5 rgb(255, 255, 255),
            stop:0.6 --THEMECOLOR-1.0,
            stop:1 --THEMECOLOR-1.0);
}

RadioButton::indicator:checked:hover {
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.6 rgb(255, 255, 255),
            stop:0.7 --THEMECOLOR-1.0,
            stop:1 --THEMECOLOR-1.0);
}

RadioButton::indicator:checked:pressed {
    background-color: qradialgradient(spread:pad, cx:0.5, cy:0.5, radius:0.5, fx:0.5, fy:0.5,
            stop:0 rgb(255, 255, 255),
            stop:0.5 rgb(255, 255, 255),
            stop:0.6 --THEMECOLOR-1.0,
            stop:1 --THEMECOLOR-1.0);
}

RadioButton:disabled {
    color: rgba(0, 0, 0, 110);
}

RadioButton::indicator:disabled {
    border: 1px solid #bbbbbb;
    background-color: rgba(0, 0, 0, 0);
}
