ComboBox {
    color: rgba(67, 67, 67, 1);
    background: white;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 5px;
    font: 15px;
    text-align: left;
    padding: 10px 12px 10px 12px;
    outline: none;
    selection-color: rgba(67, 67, 67, 1);
}

ComboBox:hover {
    border: 1px solid --THEMECOLOR-1.0;
}

ComboBox:pressed {
    border: 2px solid --THEMECOLOR-1.0;
}

ComboBox:disabled {
    color: rgba(0, 0, 0, 0.36);
    background: rgba(220, 220, 220, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

PrimaryComboBox {
    color: white;
    background-color: --THEMECOLOR-1.0;
}

TransparentComboBox {
    background-color: transparent;
    border: none;
}


ComboBox::drop-down, PrimaryComboBox::drop-down, TransparentComboBox::drop-down {
    border: none;
    margin: 0px;
    margin-right: 17px;
    subcontrol-origin: padding;
    subcontrol-position: top right;
}

ComboBox::down-arrow, TransparentComboBox::down-arrow {
    image: url(ui:icons/black/ChevronDown_black.svg);
    width: 10px;
    height: 10px;
}

PrimaryComboBox::down-arrow {
    image: url(ui:icons/white/ChevronDown_white.svg);
    width: 10px;
    height: 10px;
}

ComboBox QAbstractItemView {
    border: 1px solid rgba(200, 200, 200, 0.8);
    /* border-radius: 8px; */
    background: white;
    padding: 4px 3px 4px 3px;
    outline: none;
}

ComboBox QAbstractItemView::item {
    color: rgba(67, 67, 67, 1);
    background: white;
    border-radius: 5px;
    padding: 10px 12px 10px 12px;
}

ComboBox QAbstractItemView::item:hover {
    border: 1px solid --THEMECOLOR-1.0;
}
