BodyLabel {
    color: rgba(62, 62, 62, 1);
    font: 11.5pt;
}

InfoLabel {
    color: rgba(62, 62, 62, 0.6);
    font: 10pt;
}

TitleLabel {
    color: black;
    font: 13pt;
    font-weight: bold;
}

QToolTip {
    border-radius: 4px;
}

QToolTip > #container {
    border: 1px solid rgba(0, 0, 0, 0.06);
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
}