LineEdit, TextEdit {
    color: rgba(62, 62, 62, 1);
    background: white;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 5px;
    font: 15px;
    padding: 10px 12px 10px 12px;
}

TextEdit {
    padding: 0px 0px 0px 10px;
}

LineEdit:hover, TextEdit:hover {
    border: 1px solid --THEMECOLOR-1.0;
}

LineEdit:focus, TextEdit:focus {
    border: 2px solid --THEMECOLOR-1.0;
}

LineEdit:disabled, TextEdit:disabled {
    color: rgba(0, 0, 0, 0.36);
    background: rgba(220, 220, 220, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.06);
}


