ListWidget, TreeWidget {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    padding-right: 5px;
    padding-left: 5px;
}

ListWidget::item, TreeWidget::item {
    padding: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 20px;
    color: black;
}

ListWidget::item:hover, TreeWidget::item:hover {
    background-color: rgba(222, 222, 222, 1);
}
