BodyLabel {
    color: white;
    font: 11.5pt;
}

InfoLabel {
    color: gray;
    font: 10pt;
}

TitleLabel {
    color: white;
    font: 13pt;
    font-weight: bold;
}

ToolTip {
    border-radius: 4px;
}

ToolTip > #container {
    border: 1px solid rgba(0, 0, 0, 0.06);
    background-color: rgb(243, 243, 243);
    border-radius: 4px;
}

