SpinBox, DoubleSpinBox {
    color: white;
    background-color: rgb(43, 43, 43);
    border: none;
    border-radius: 5px;
    font: 15px;
    padding: 4px 12px 4px 12px;
    height: 28px;
}

SpinBox:hover, DoubleSpinBox:hover {
    border: 1px solid --THEMECOLOR-1.0;
}

SpinBox:focus, DoubleSpinBox:focus {
    border: 1px solid --THEMECOLOR-1.0;
}

SpinBox:disabled, DoubleSpinBox:disabled {
    color: rgba(0, 0, 0, 0.36);
    background: rgba(220, 220, 220, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.06);
}

TransparentSpinBox, TransparentDoubleSpinBox {
    border: none;
    background-color: transparent;
}

SpinBox::up-button, DoubleSpinBox::up-button {
    subcontrol-origin: margin;
    subcontrol-position: top right;
    position: relative;
    left: -10px;
    top: 9px;
    border: none;
    width: 8px;
    height: 8px;
    border-image: url(ui:icons/black/Up_black.svg);
}

SpinBox::down-button, DoubleSpinBox::down-button {
    subcontrol-origin: margin;
    subcontrol-position: bottom right;
    left: -10px;
    bottom: 6px;
    border: none;
    width: 8px;
    height: 8px;
    border-image: url(ui:icons/black/Down_black.svg);
}

Slider::groove:horizontal {
    height: 5px;
    background-color: white;
    border-radius: 2px;
}

Slider::sub-page:horizontal {
    background: --THEMECOLOR-1.0;
    height: 5px;
    border-radius: 2px;
}

Slider::handle:horizontal {
    background-color: --THEMECOLOR-1.0;
    border: none;
    height: 12px;
    width: 12px;
    margin: -4px 0;
    border-radius: 6px;
}