ListWidget, TreeWidget {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    outline: none;
    padding-right: 5px;
}

ListWidget::item, TreeWidget::item {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    padding-left: 20px;
    outline: none;
}

TreeWidget::item:hover {
    background: rgb(50, 50, 50);
}

QHeaderView, QHeaderView::section, QTableView QTableCornerButton::section {
	background: rgba(220, 220, 220, 0.1);
}

QHeaderView::section {
	color: white;
	padding: 1ex;
}

QTableView::item {
	color: white;
    border: none;
}

QTableView::item:selected {
	color: white;
	background-color: --THEMECOLOR-1.0;
}