TreeWidget {
    background-color: transparent;
    border: none;
    border-radius: 6px;
    outline: none;
    padding-right: 5px;
    font: 11.5pt;
}

TreeWidget::item {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    padding-left: 20px;
    outline: none;
}

TreeWidget::item:hover {
    background: rgb(50, 50, 50);
}
